*{
    box-sizing: border-box; /* PONE UN LIMITE A TODO EL DOCUMENTO */
    margin: 0 auto; 
    font-family: Arial, Helvetica, sans-serif; /* TIPOGRAFIA DEL SITIO */
}
body{
    background-image: url(../img/bg-2.png);   
}
.home{
    width: 1140px;
    margin-top: 100px;
}
/* --------------HEADER---------------- */

.home header{
    background-color: orangered;
    width: 1140px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    
}
.home header img{
    float: left; 
    padding: 20px;
}
.home a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.home li{
    list-style: none;
    display: inline;
}
.home .login a{ 
    float:right; 
    padding: 20px; 
    margin-top: 10px;
}
.home .menu a{
    float: left;
    padding: 20px;
    margin-top: 10px;
}
/* ---------------MAIN----------------- */

.home main{
   width: 800px;
   float: left;
   
}
.home main section{
    width: 380px;
    float: left;
    background-color: white;
    position: relative;
}
.home main section .icono {
    position: absolute;
    width: 60px;
    left: 280px;
    
}
.home main img{
    margin: 10px;
    width: 360px;
}
.home main h2{
    margin: 10px;
}
.home main p{
    margin: 10px;
}
.home main button{
    background-color: orangered;
    padding: 10px;
    margin: 10px 10px 10px 0px;
}
/* ---------------------TUTORIALES----------------------- */
.home aside{
    width: 320px;
    float: right;
}
.home aside h2{
    background-color: white;
    padding: 10px;
    border: steelblue 1px solid;
    margin-bottom: 15px;
}
.home aside .tutoriales article{
    background-color: white;
    border: steelblue 1px solid;
    position: relative;
}
.home aside .tutoriales article .icono2{
 position: absolute;
 width: 50px;
 left: 65px;
 top: -10px;
}

.home aside .tutoriales img{
    margin: 10px;
}
.home aside .tutoriales p{
    float:right;
    margin-top: 45px;
    margin-right: 30px;
}
/* ---------------------PUBLICIDAD--------------------------- */
.home aside .publicidad h2{
    margin-top: 20px;
}
.home aside .publicidad {
    margin-top: 10px;    
}
.home aside .publicidad img{
    background-color: white;
    width: 320px;
    padding: 10px ;
    margin-bottom: 0px ;
}


_____________________REGISTRO_______________________________
.registro{
    width: 1140px;
    /* ----------------HEADER------------------------- */
}
.registro header{
    background-color: orangered;
    width: 1140px;
    display: table;
    margin-bottom: 70px;
}
.registro header img{
    float: left; 
    padding: 20px;
}
.registro a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.registro li{
    list-style: none;
    display: inline;
}
.registro .login a{ 
    float:right; 
    padding: 20px; 
    margin-top: 10px;
}
.registro .menu a{
    float: left;
    padding: 20px;
    margin-top: 10px;
}
/* -----------FORM------------- */
form{
    width: 350px;
}
form h1{
    text-transform: uppercase;
    margin-bottom: 30px;
}
form label{
    font-size: 25px;
    text-transform: capitalize;
}
form .rojo{
    color:red;
    font-size: 15px;
}
.genero label{
    
    margin-top: 40px;
    font-weight: bold;
}
.hobbies {
    margin-top: 30px;

}
/* _____________________________LOGIN______________________________ */

/* --------------HEADER---------------- */
.inicio{
    width: 1140px;
}
.inicio header{
    background-color: orangered;
    width: 1140px;
    display: table;
    margin-bottom: 20px;
}
.inicio header img{
    float: left; 
    padding: 20px;
}
.inicio a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.inicio li{
    list-style: none;
    display: inline;
}
.inicio .login a{ 
    float:right; 
    padding: 20px; 
    margin-top: 10px;
}
.inicio .menu a{
    float: left;
    padding: 20px;
    margin-top: 10px;
}
.inicio main{
    width: 350px;
}
.inicio main h2{
    text-transform: uppercase;
    margin-bottom: 30px;
}
.inicio main label{
    font-size: 25px;
    text-transform: capitalize;
}
.inicio main label{   
    margin-top: 40px;
    font-weight: bold;
}
.inicio main a{
    color: black;
}


/* ---------------mobile site--------------------- */


